<h2 mat-dialog-title>{{obj.id > 0  ? 'Editar Autor ' + obj.nombre + ' ' + obj.apellidos : 'Nuevo Autor'}} </h2>


<mat-dialog-content class="mat-typography" [disabled]="guardando">
    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.xs="0" >
        <div fxFlex="50">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]="obj.nombre" required>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" [(ngModel)]="obj.apellidos" required>
            </mat-form-field>
        </div>
    </div>

    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px">
        <div fxFlex="50" fxFlex.xs="100">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento"  [(ngModel)]="obj.fecha_nacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>



<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="guardando">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="guardando|| obj.nombre == null || obj.apellidos == null|| obj.nombre == '' || obj.apellidos == ''">
        <mat-icon>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>