<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">menu_book</mat-icon>
        </div>
        <mat-card-title style="margin-left: 0;">Libros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
                </ng-container>

                <ng-container matColumnDef="autor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
                    <td mat-cell *matCellDef="let row"> <small>{{row.autor.nombre + ' ' + row.autor.apellidos}}</small>
                    </td>
                </ng-container>
                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                    <td mat-cell *matCellDef="let row"> <small>{{row.categoria.nombre}}</small></td>
                </ng-container>

                <ng-container matColumnDef="isbn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 30px; width:20px"> ISBN
                    </th>
                    <td mat-cell *matCellDef="let row" style="max-width: 30px; width:20px"> {{row.isbn}}</td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayoutGap="3px" align="end">
                            <button mat-stroked-button color="primary" [disabled]="guardando"
                                (click)="getLibro(row)">Editar</button>
                            <button mat-stroked-button color="warn" [disabled]="guardando"
                                (click)="eliminar(row)">Eliminar</button>
                        </div>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator itemsPerPageLabel="Items por página:" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button color="accent" (click)="getLibro()" [disabled]="guardando">Nuevo Libro</button>
        <button mat-raised-button color="primary" (click)="obtenerLibros()" [disabled]="guardando">Actualizar
            Datos</button>
    </mat-card-actions>
</mat-card>