<h2 mat-dialog-title>{{titulo}}</h2>
<mat-dialog-content class="mat-typography">
  <p>{{mensaje}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="valor">
    <mat-icon>save</mat-icon> Confirmar
  </button>
</mat-dialog-actions>