<h2 mat-dialog-title>{{obj.id > 0  ? 'Editar Categoría ' + obj.nombre : 'Nueva Categoría'}} </h2>


<mat-dialog-content class="mat-typography" [disabled]="guardando">
    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
        <div fxFlex="100">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]="obj.nombre" required>
            </mat-form-field>
        </div>

    </div>

    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px">
        <div fxFlex="100">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripción" [(ngModel)]="obj.descripcion" required></textarea>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>



<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="guardando">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="guardando || obj.nombre == null || obj.nombre == ''">
        <mat-icon>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>