<div style="width:100%;">
    <div style="width:100%;">
        <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
            <mat-label>Desarrollador</mat-label>
            <input type="text" matInput placeholder="Nombres" value="Jeffrey A. Espinel Pérez" readonly>
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
    </div>
    <div style="width:100%;">
        <mat-form-field class="example-full-width" appearance="outline" style="width:100%;">
            <mat-label>Cel:</mat-label>
            <input type="text" matInput placeholder="Nombres" value="+57 323 528 6101" readonly>
            <mat-icon matSuffix>contact_phone</mat-icon>
        </mat-form-field>
    </div>
    
    <div style="width:100%;" fxLayoutGap="10">
        <a href="http://www.linkedin.com/in/jespinel" target="_blanck"  mat-stroked-button color="primary">Ver LinkedIn</a>
        <span fxFlex></span>
        <button mat-flat-button color="primary" [mat-dialog-close] fxFlex>Aceptar</button>
    </div>

</div>