  
  .icon-menu-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin-left: 0px !important; // for example to remove the margin
  }

 
/* Ripple effect */
::ng-deep .ripplePut {
  background-position: center;
  transition: background 0.8s;
}
::ng-deep .ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}
::ng-deep .ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

::ng-deep .ripple {
  background-position: center;
  transition: background 0.8s;
}
::ng-deep .ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
}
::ng-deep .ripple:active {
  background-color: #607d8b;
  background-size: 100%;
  transition: background 0s;
}