<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span>Library Management [BS]</span>
    <span class="icon-menu-spacer"></span>


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goPage('libros')">
        <mat-icon>menu_book</mat-icon>
        <span>Libros</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="goPage('autores')">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Autores</span>
      </button>
      <button mat-menu-item (click)="goPage('categorias')">
        <mat-icon>dashboard</mat-icon>
        <span>Categorías</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="verDesarrollador()">
        <mat-icon>info</mat-icon>
        <span>Desarrollador</span>
      </button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>
<div style="margin: 0; padding: 10px;">
  <router-outlet></router-outlet>
</div>