<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">supervised_user_circle</mat-icon>
        </div>
        <mat-card-title style="margin-left: 0;">Autores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
                </ng-container>

                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellidos}}</td>
                </ng-container>
                <ng-container matColumnDef="fecha_nacimiento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayoutGap="3px" align="end">
                                <button mat-stroked-button color="primary" [disabled]="guardando" (click)="getAutor(row)" >Editar</button>
                                <button mat-stroked-button color="warn" [disabled]="guardando" (click)="eliminar(row)">Eliminar</button>
                        </div>
                        
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator itemsPerPageLabel="Items por página:" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button color="accent" (click)="getAutor()" [disabled]="guardando">Nuevo Autor</button>
        <button mat-raised-button color="primary" (click)="obtenerAutores()" [disabled]="guardando">Actualizar
            Datos</button>
    </mat-card-actions>
</mat-card>