<h2 mat-dialog-title>{{obj.id > 0  ? 'Editar Libro ' + obj.nombre : 'Nuevo Libro'}} </h2>


<mat-dialog-content class="mat-typography" [disabled]="guardando">
    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
        <div fxFlex="100">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]="obj.nombre" required [maxLength]="500">
            </mat-form-field>
        </div>
    </div>
    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
        <div fxFlex="50">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Categoría</mat-label>
                <mat-select [(ngModel)]="categoriaSelected" required>
                    <mat-option *ngFor="let categoria of lista_categorias" [value]="categoria.id">
                        {{categoria.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50">
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>ISBN</mat-label>
                <input matInput placeholder="ISBN" [(ngModel)]="obj.isbn" [maxLength]="30">
            </mat-form-field>
        </div>
    </div>


    <div style="width: 100%" fxLayout.xs="column" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.xs="0">
        <div fxFlex="100">
            <label>Autor</label>
            <ng-select [items]="lista_autores" bindLabel="fullName" placeholder="Autor" [(ngModel)]="autorSelected">
            </ng-select>
        </div>
    </div>



</mat-dialog-content>



<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="guardando">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="guardando || esLibroInvalido()">
        <mat-icon>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>